@model RealEstate.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="mt-2">Welcome, @User.FindFirst(System.Security.Claims.ClaimTypes.Name).Value @User.FindFirst(System.Security.Claims.ClaimTypes.Surname).Value</h1>

<div class="row">
    <div class="col-lg-12 col-xl-6">
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Most Liked 10 Properties</h5>

                <table id="likedPropertiesTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Title
                            </th>
                            <th>
                                City
                            </th>
                            <th>
                                Likes
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model.LikedProperties)
                        {
                        <tr>
                            <td >
                                @item.Property.Title
                            </td>
                            <td>
                                @item.Property.City.Name
                            </td>
                            <td>
                                @item.Count
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>